*{
    font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --p1: #000000;
  --p2: #333333;
  --p3: #cccccc;
  --p4: #ffffff;
}

body {
  background-color: #f7f7f7;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--p4);
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

h1 {
  margin-bottom: 1.5rem;
  color: var(--p2);
  text-align: center;
}

input,
button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--p3);
  border-radius: 4px;
}

button {
  background-color: var(--p2);
  color: var(--p4);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--p1);
}

.error {
  color: red;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #777;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
  padding: 1rem;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}


.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
}

.hidden {
  display: none;
}